{% extends "base.html" %}
{% block title %}To-Do List{% endblock %}
{% block content %}
<br>
{% for message in messages %}
    <div class="alert alert-warning alert-dismissible " role="alert">
        <button class="close" data-dismiss="alert">
            <small><sup>x</sup></small>
        </button>
        {{ message }}
    </div>
{% endfor %}
<br>

<table class="table table-bordered">
    {% for things in all_items %}
        <tr {% if things.completed %}class="table-secondary"{% endif %}>
            <td {% if things.completed %}class="striker"{% endif %}>{{ things.item }}</td>
            <td><center><a href="{% url 'edit' things.id %}">Edit</a></center></td>
            <td><center><a href="{% url 'cross_on' things.id %}">Uncross</a></center></td>
            <td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
        </tr>
    {% endfor %}
</table>

{% if not all_items %}
    <div class="card">
        <div class="card-body">
            The List is empty. Press the Add button to add your tasks.
        </div>
    </div>
{% endif %}
{% endblock %}
